{% load static %}
<style>
    body.open .out-nav-list-burger {
        background-image: url({% static 'main/img/close.svg' %});
    }

    body.open .nav-list-burger {
        background-image: url({% static 'main/img/close.svg' %});
    }

    .out-nav-list-burger {

        background-image: url({% static 'main/img/menu.svg' %});

    }

    .nav-list-burger {
        background-image: url({% static 'main/img/menu.svg' %});

    }
</style>
<div class="div position-sticky z-3 top-0">
    <div class="custom-nav position-relative w-100 top-0 start-0">
        <nav class="position-absolute z-1 d-flex justify-content-center w-100 h-100 my-nav">
            <div class="container d-flex justify-content-between align-items-center h-100">
                <a href="{% url 'home' %}" class="site-logo d-flex gap-1 align-items-center">
                    <i class="bi bi-music-note-list"></i><span class="d-none d-sm-flex align-items-center">Rithm Repository</span>
                </a>
                <ul class="d-flex gap-3 align-items-center mb-0">
                    <li class="">
                        {% url 'home' as home %}
                        <a href="{{ home }}" class="

                               {% if request.path == home %}
                               active
                               {% endif %}

                            ">home</a>
                    </li>
{#                    <li class="d-none d-lg-block">#}
{#                        {% url 'user_posts_list' as user_post_list %}#}
{#                        <a href="{{ user_post_list }}" class="#}
{##}
{#                        {% if request.path == user_post_list %}#}
{#                        	active#}
{#                        {% endif %}#}
{#                        ">posts</a>#}
{#                    </li>#}
                    {% if request.user.is_authenticated %}
                        {% if request.user.artist %}
                            <li class="d-none d-lg-block">
                                <a href="{{ request.user.artist.get_absolute_url }}" class="

                                {% if request.path == request.user.artist.get_absolute_url %}
                                	active
                                {% endif %}
                                ">
                                    My Profile
                                </a>
                            </li>

                            <li class="d-none d-lg-block">
                                {% url 'artist_posts_list' as artist_post_list %}
                                <a href="{{ artist_post_list }}" class="

                                 {% if request.path == artist_post_list %}
                                 	active
                                 {% endif %}

                                ">My posts</a>
                            </li>
                        {% else %}
                            <li class="d-none d-lg-block">
                                {% url 'artist_register' as artist_register %}
                                <a href="{{ artist_register }}" class="

                                    {% if request.path == artist_register %}
                                    	active
                                    {% endif %}
                                ">Artist Register</a>
                            </li>
                        {% endif %}

                        {% if not request.user.artist %}
                            <li class="d-none d-lg-block">
                                {% url 'user_profile' as user_profile %}
                                <a href="{{ user_profile }}" class="

                            {% if request.path == user_profile %}
                                active
                            {% endif %}
                            ">My Profile</a>
                            </li>
                        {% endif %}

                        <li class="d-none d-lg-block">
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="d-none d-lg-block">
                            {% url 'login' as login %}
                            <a href="{{ login }}" class="
                            {% if request.path == login %}
                            	active
                            {% endif %} ">Log In</a>
                        </li>
                        <li class="d-none d-lg-block">
                            {% url 'user_registration' as registration %}
                            <a href="{{ registration }}" class="
                            {% if request.path == registration %}
                            	    active
                            {% endif %} ">Register</a>
                        </li>
                    {% endif %}


                    <li>
                        <button class="navbar-burger bg-black text-decoration-none border-0 nav-list-burger"
                                onclick="toggleMenu()" id="menu-trigger"></button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="page-title w-100 h-100 position-absolute z-0 p-0 d-flex justify-content-start">
            <span class="h-100 d-flex align-items-center text-uppercase">{{ page_title }}
            </span>
        </div>
    </div>
</div>
<button class="navbar-burger bg-black text-decoration-none border-0 out-nav-list-burger d-none"
        onclick="toggleMenu()" id="menu-trigger"></button>
<div class="menu position-fixed">
    <ul class="row-gap-4 ">
        <li style="animation-delay: 0.1s">
            <a href="{% url 'home' %}" class="navigation__link" data-text="home">home</a>
        </li>
{#        <li style="animation-delay: 0.2s">#}
{#            <a href="{% url 'user_posts_list' %}" class="navigation__link" data-text="posts">posts</a>#}
{#        </li>#}
        {% if request.user.is_authenticated %}

            {% if request.user.artist %}
                <li style="animation-delay: 0.3s">
                    <a href="{% url 'artist_posts_list' %}" class="navigation__link" data-text="my posts">My
                        posts</a>
                </li>

                <li style="animation-delay: 0.4s">
                    <a href="{% url 'create_post' %}" class="navigation__link" data-text="create post">create post</a>
                </li>
            {% else %}
                <li style="animation-delay: 0.4s">
                    <a href="{% url 'artist_register' %}" class="navigation__link" data-text="artist register">Artist
                        register</a>
                </li>
            {% endif %}
            <li style="animation-delay: 0.5s">
                <a href="{% url 'logout' %}" class="navigation__link" data-text="logout">Logout</a>
            </li>

            <li style="animation-delay: {% if request.user.artist %}0.6s{% else %}0.6s{% endif %}">
                <a href="#" class="navigation__link" data-text="Contact">Contact</a>
            </li>
            <li style="animation-delay: {% if request.user.artist %}0.7s{% else %}0.7s{% endif %}">
                <a href="#" class="navigation__link" data-text="more">more</a>
            </li>
        {% else %}
            <li style="animation-delay: 0.3s">
                <a href="{% url 'login' %}" class="navigation__link" data-text="login">login</a>
            </li>
            <li style="animation-delay: 0.4s">
                <a href="{% url 'user_registration' %}" class="navigation__link" data-text="register">register</a>
            </li>
            <li style="animation-delay: 0.5s">
                <a href="#" class="navigation__link" data-text="more">more</a>
            </li>
            <li style="animation-delay: 0.6s">
                <a href="#" class="navigation__link" data-text="Contact">Contact</a>
            </li>

        {% endif %}


    </ul>
</div>





