@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Roboto:wght@300;400&display=swap');
/*'Plus Jakarta Sans', sans-serif; 600/700/800 */
/*'Roboto', sans-serif; 300/400 */

:root {
    --gray-font-color: #9ca1a5;
    --green: #73b64f;
    --light-gray-font-color: #d6d7d6;
    --purple: #9b51e0;
    --yellow: #ebb512;
    --red: #eb5757;
    --light-blue: #56ccf2;
    --heading-font: 'Plus Jakarta Sans', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --gradient-body-bg: linear-gradient(239.59deg, #242424 -44.65%, #121212 75.57%);
    --light-blue-black: #1a1a1e;
    --light-black: #121212;
    ---light-black-hover: #1e1e1e;
}

body {
    background: #000;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    font-family: var(--body-font);
}

* {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 250ms;
}


/*navbar styles start*/
.custom-nav {
    position: relative;
    height: 120px;
    color: var(--gray-font-color);
}

.custom-nav ul a {
    white-space: nowrap;
}

.custom-nav .active {
    color: var(--green);
}

.page-title {
    background: black;
    font-size: 130px;
    font-family: var(--heading-font);
    font-weight: 800;
    white-space: nowrap;
    color: var(--light-gray-font-color);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


nav {
    background: rgba(0, 0, 0, 0.85);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
}

nav a:hover {
    color: var(--green);
}


.site-logo i {
    color: var(--green);
    font-size: 40px;
}

.site-logo span {
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--green);
    font-size: 36px;
}

.menu {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}

.nav-list-burger {
    background-repeat: no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
}

.out-nav-list-burger {
    position: absolute;
    z-index: 4;
    top: 15px;
    right: 100px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
}


body.open .menu {
    opacity: 1;
    visibility: visible;
}

body.open .out-nav-list-burger {

    display: block !important;
    position: fixed;
}

body.open .nav-list-burger {
    display: none;
}


.menu li {
    color: #f9f9f9;
    font-size: 32px;
    text-decoration: none;
}

body.open .menu ul > li {
    animation: appear-to-top 0.3s both;
}

.custom-nav .page-title span {
    animation: appear-to-right 2s both;
}

@keyframes appear-to-top {
    0% {
        opacity: 0;
        translate: 0 50px;
    }
    100% {
        opacity: 1;
    }
}


@keyframes appear-to-right {
    0% {
        opacity: 0;
        translate: -50px 0;
    }
    100% {
        opacity: 1;
    }
}


.navigation__link::before, .navigation__link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
}

.navigation__link {
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 80px;
    line-height: 1.5;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation__link:hover {
    color: #ffffff;
    -webkit-text-stroke: 1px #212121;
    transition: 0.25s;
}

.navigation__link:hover::before {
    transform: translate(12px, -12px);
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px #212121;
}

.navigation__link:hover::after {
    transform: translate(24px, -24px);
    color: var(--green);
    -webkit-text-stroke: 1px #212121;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*end navbar style*/


/* footer style start*/
footer .links {
    font-family: var(--body-font);
    font-weight: 400;
}

footer h2 {
    color: #fff !important;
    font-family: var(--body-font);
}

footer .links-column a {
    color: var(--gray-font-color) !important;
}

footer .links-column a:hover {
    color: var(--green) !important;
    cursor: pointer !important;
}

footer .links-column p {
    color: var(--gray-font-color);
}

footer .footer-form {
    color: #fff;
}

footer .socials {
    font-size: 30px;
}


/*end footer style*/


/*error-screen style*/
.error-message {
    font-size: 70px;
    font-family: var(--heading-font);
    font-weight: 800;
    color: #fff;
    -webkit-animation: text-flicker-in-glow 4s linear both, vibrate-1 0.3s linear infinite both;
    animation: text-flicker-in-glow 5s linear both, vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: none;
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        text-shadow: none;
    }
    10.1% {
        opacity: 1;
        text-shadow: none;
    }
    10.2% {
        opacity: 0;
        text-shadow: none;
    }
    20% {
        opacity: 0;
        text-shadow: none;
    }
    20.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
        opacity: 0;
        text-shadow: none;
    }
    30% {
        opacity: 0;
        text-shadow: none;
    }
    30.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 0;
        text-shadow: none;
    }
    45.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
        opacity: 0;
        text-shadow: none;
    }
    57% {
        opacity: 0;
        text-shadow: none;
    }
    57.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
        opacity: 0;
        text-shadow: none;
    }
    65% {
        opacity: 0;
        text-shadow: none;
    }
    65.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
        opacity: 0;
        text-shadow: none;
    }
    77% {
        opacity: 0;
        text-shadow: none;
    }
    77.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
        opacity: 0;
        text-shadow: none;
    }
    86% {
        opacity: 0;
        text-shadow: none;
    }
    86.1% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* end error screen style*/


/*forms style*/
.form-card {
    background: var(--light-blue-black);
    backdrop-filter: blur(20px);
}

.form-card label {
    color: var(--light-gray-font-color) !important;
}

.form-label {
    background-color: transparent !important;
}

input::file-selector-button {
    background-color: var(--green) !important;
    color: #fff !important;
    border: none !important;
}


input:disabled {
    background-color: #232328 !important;
    color: var(--gray-font-color) !important;
}

.form-control {
    background-color: rgb(35, 35, 40);
    color: #fff !important;
    border: 1px solid var(--gray-font-color);
    transition: 150ms all;
}

.form-control::placeholder {
    color: var(--gray-font-color);
}

.form-control:focus {
    background-color: var(--light-blue-black) !important;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--green);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none !important;
}

span.asteriskField {
    color: var(--light-blue) !important;
    font-size: 25px;
}

.form-card h2 {
    font-family: var(--heading-font);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.form-card h2 > i {
    color: var(--green);
}

.toggle-password {
    font-size: 20px;
    color: var(--green) !important;
    top: 5px;
    right: 13px;
}

.toggle-confirm-password {
    font-size: 20px;
    color: var(--green);
    top: 50px;
    right: 25px;
}


/*article section styles start*/
.articles-section-header {
    font-size: 30px;
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

}

.detail_date, .detail_author {
    color: var(--light-gray-font-color) !important;
}

.editor-gem {
    color: var(--green);
    top: 0px;
    left: 10px;
    font-size: 30px;
    z-index: 1;
}

.artist-post.only {
    /*background-color: var(--light-black);*/
    background: linear-gradient(239.59deg, #2c2c2d -44.65%, var(--light-blue-black) 75.57%);
    height: 350px;
    overflow: hidden;
}

.artist-post.post-detail {
    min-height: 350px;
    background: linear-gradient(239.59deg, #2c2c2d -44.65%, var(--light-blue-black) 75.57%);
}

.artist-post a.btn.btn-primary,
.see-more-posts a.btn.btn-primary {
    background-color: transparent;
    border: solid var(--purple);
    transition: 250ms ease background-color, 250ms ease color;
}

.artist-post a.btn.btn-primary:hover,
.see-more-posts a.btn.btn-primary:hover {
    background-color: var(--purple);
    color: #fff;
}

.artist-post hr {
    width: 75px;
    border: solid var(--purple);
}

.artist-post h2 {
    font-size: 30px;
    font-family: var(--heading-font);
    font-weight: 600;
    color: #fff;
}

.artist-post > span {
    color: var(--light-gray-font-color);
    font-family: var(--heading-font);
}

.artist-post p {
    color: var(--gray-font-color);
    font-family: var(--body-font);
    font-size: 16px;
    text-overflow: ellipsis;
}

.artist-post a i {
    transition: ease .5s;
}

.see-more-posts a i {
    transition: ease .5s;
}

.post-options a:hover,
.see-more-posts a:hover {
    & i.bi.bi-arrow-right {
        transform: translate(5px, 0);
    }
}

.btn.btn-primary.go-back {
    background-color: transparent;
    border: var(--light-blue) 2px solid !important;
}

.btn.btn-primary.go-back:hover {
    background-color: var(--light-blue) !important;

}

.post-options a > span.btn-text {
    color: #fff;
}

/*end posts styling*/


/*start artist detail style*/


img.artist-profile-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.artist-detail .artist-detail-info-wrapper {
    background-image: var(--gradient-body-bg);
}

.artist-detail-info-wrapper {
    min-height: 350px;
    font-size: 18px;
}

.artist-detail-info {
    font-family: var(--body-font);
    color: var(--gray-font-color);
}

.artist-detail h2,
.artist-detail h1 {
    font-family: var(--heading-font);
    color: #fff;
    font-weight: 600;
}

.artist-detail h1 {
    font-weight: 800;
}

.song-card {
    /*background-image: var(--gradient-body-bg);*/
    color: #fff;
    background-color: var(--light-black);
    transition: 250ms background-color;

}

.song-card img {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.tab-content {
    display: none;
}

.tabs li {
    transition: 250ms background-color;
    background-color: var(---light-black-hover);
    /*border: var(---light-black-hover) 2px solid !important;*/
}

.tabs li:hover {
    cursor: pointer;
    background-color: var(--light-blue-black);
}

.tabs .d-block {
    background-color: #fff !important;
    color: #000 !important;
}

.song-card span {
    color: var(--gray-font-color);
}


a.release-wrapper:hover .song-card {
    background-color: #1e1e1e;
}

.tabs > a {
    color: var(--gray-font-color);
}

.tabs > a:hover {
    color: #fff;
}

.play-pause-button {
    font-size: 30px;
    color: #fff;
    border: none;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-color: var(--green);
}

.audio-player {
    top: 45%;
    right: 15%;
}

.audio-player audio {
    z-index: 5;
    width: 100%;
    bottom: 0;
}

.playing {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 47, 50, 0.15);
    backdrop-filter: blur(5px);
    padding: 15px;
    text-align: center;
}

.playing label{
    display: block !important;
}
.playing input{
    accent-color: var(--green);
    display: block !important;
}


.volume-control{
    display: none ;
}

.time-control{
    display: none;
}


.artist-detail .artist-post{
    height: auto;
    background-color: var(--light-black);
    background-image: none;
    transition: 250ms background-color;
}

.artist-detail .artist-post:hover{
    background-color: var(---light-black-hover);
}

span#post_time_since {
    font-family: var(--body-font) !important;
}
















































/*media queries*/

@media (max-height: 450px) {
    .menu ul {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 36px;
    }

    .menu ul a {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 40px;
        white-space: nowrap;

    }

    body.open .menu ul > li {
        position: relative;
        animation: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }

}

@media (max-width: 991px) {
    .page-title {
        font-size: max(40px, 10vw);
    }

    .custom-nav {
        height: clamp(80px, 100px, 120px);
    }

    .nav-list-burger {
        width: 50px;
        height: 50px;
    }

    .out-nav-list-burger {
        right: 50px !important;
    }

    .navigation__link {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .artist-detail-info-wrapper {
        top: 200px;
    }

    .artist-discography {
        margin-top: 250px !important;
    }

    .artist-detail .artist-profile-img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 545px) {
    .out-nav-list-burger {
        right: 15px !important;
    }

    body.open .menu ul > li {
        position: relative;
        animation: none;
    }

    .nav-list-burger {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 460px) {
    .tabs ul li:first-of-type span {
        display: none;
    }

    .my-tabs .content section .row {
        display: grid !important;
        justify-content: center;
        grid-template-columns: auto !important;
    }

    .my-tabs .content section .row div {
        width: auto !important;
    }
}
