@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Roboto:wght@300;400&display=swap');
/*'Plus Jakarta Sans', sans-serif; 600/700/800 */
/*'Roboto', sans-serif; 300/400 */

:root {
    --gray-font-color: #9ca1a5;
    --green: #73b64f;
    --light-gray-font-color: #d6d7d6;
    --heading-font: 'Plus Jakarta Sans', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --gradient-cart-bg: linear-gradient(239.59deg, #2c2c2d -44.65%, #1a1a1e 75.57%);
    --light-black: #1a1a1e;
}

body {
    background: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 250ms;
}

.custom-nav {
    position: relative;
    height: 120px;
    color: var(--gray-font-color);
}

.page-title {
    background: black;
    font-size: 130px;
    font-family: var(--heading-font);
    font-weight: 800;
    white-space: nowrap;
    color: var(--light-gray-font-color);

}

#page-title {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


nav {
    background: rgba(0, 0, 0, 0.85);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--green);
}


.site-logo i {
    color: var(--green);
    font-size: 30px;
}

.site-logo span {
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--green);
    font-size: 30px;
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}

body.open .menu {
    opacity: 1;
    visibility: visible;
}

body.open .navbar-burger {
        position: fixed;
}

.menu li {
    color: #f9f9f9;
    font-size: 32px;
    text-decoration: none;
}

body.open .menu ul > li {
    animation: appear-to-top 0.3s both;
}

.custom-nav .page-title span {
    animation: appear-to-right 2s both;
}

@keyframes appear-to-top {
    0% {
        opacity: 0;
        translate: 0 50px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear-to-right {
    0% {
        opacity: 0;
        translate: -50px 0;
    }
    100% {
        opacity: 1;
    }
}


.navigation__link::before, .navigation__link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
}

.navigation__link {
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.5;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation__link:hover {
    color: #ffffff;
    -webkit-text-stroke: 1px #212121;
    transition: 0.25s;
}

.navigation__link:hover::before {
    transform: translate(12px, -12px);
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px #212121;
}

.navigation__link:hover::after {
    transform: translate(24px, -24px);
    color: var(--green);
    -webkit-text-stroke: 1px #212121;
}


menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .links {
    font-family: var(--body-font);
    font-weight: 400;
}

.links-column {
}

footer h2 {
    color: #fff !important;
    font-family: var(--body-font);
}

.links-column a {
    color: var(--gray-font-color) !important;
}

.links-column a:hover {
    color: var(--green) !important;
    cursor: pointer !important;
}

.links-column p {
    color: var(--gray-font-color);
}

.footer-form {
    color: #fff;
}

footer .socials {
    font-size: 30px;
}