{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block page_title %}
    Register Artist
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="col-12 mt-5 col-md-6 col-lg-5 mx-auto form-card post-options">
            {% if is_artist %}
                <div class="alert alert-danger" role="alert">
                    Artist already exists
                </div>
            {% else %}
                <form action="{% url 'artist_register' %}" method="post" class="p-3">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6">
                            <label for="username">Username</label>
                            <input type="text" class="form-control mt-2" disabled
                                   value="{{ request.user.username }}" id="username">
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control mt-2" disabled
                                   value="{{ request.user.email }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="id_email" class="form-label">{{ form.nickname.label }}<span
                                        class="asteriskField">*</span></label>
                                {{ form.nickname }}
                                <div id="emailHelp"
                                     class="form-text text-white">{{ form.nickname.help_text }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary go-back py-2 px-2">Create Artist</button>
                </form>
            {% endif %}

        </div>

    </div>

{% endblock %}