{% extends 'layouts/base.html' %}

{% block page_title %}
    My Posts
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            {% for post in posts %}
                <div class="col-4">
                    <div class="card z-0">
                        <div class="card-header">
                            New Post
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title|default:'Not Available' }}</h5>
                            <p class="card-text">
                                {{ post.text }}
                            </p>
                            {#                            <a href="#" class="btn btn-primary">Go somewhere</a>#}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-danger" role="alert">
                    No posts yet
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}