{% extends 'layouts/base.html' %}

{% load my_tags %}
{% block page_title %}
    Artist Detail
{% endblock %}
{% block content %}
    {% if artist == request.user.artist %}
        <div class="follow-modal align-items-center justify-content-center" id="myModal">
            <div class="row w-100 d-flex">
                <div class="col-10 col-sm-6 col-lg-5 col-xl-4 px-3 py-4 rounded-2 mx-auto text-white">
                    <div class="d-flex align-items-center mb-3">
                        <h3 class="text-center">Followings</h3>
                        <button type="button" onclick="closeModel()" class="bi bi-x-lg text-white ms-auto"
                                style=""></button>
                    </div>
                    {% for artist in request.user.followings_of_user.artists.all %}
                        <div class="follow-item py-2 d-flex align-items-center column-gap-2">
                            <a href="{{ artist.get_absolute_url }}">
                                <img src="{{ artist.user.profile_img.url }}" alt="">
                            </a>
                            <a href="{{ artist.get_absolute_url }}">{{ artist.nickname|truncatechars:'17' }}</a>

                            <a href="{% url 'follow-artist' id=artist.id %}"
                               class="ms-auto artist-follow-btn py-0 px-2 rounded-2 followed"
                               id="artist-follow-btn">

                                <i id="follow-icon" class="fw-bold bi fs-4 bi-person-check"></i>
                            </a>


                        </div>

                    {% endfor %}
                </div>
            </div>


        </div>

        <div class="edit-profile-modal align-items-center justify-content-center" id="myModal2">
            <div class="row d-flex w-100 ">
                <div class="col-10 col-sm-6 col-lg-5 col-xl-4 px-3 py-4 rounded-2 mx-auto bg-primary text-white">
                    <div class="d-flex align-items-center mb-3">
                        <h3 class="text-center">Create</h3>
                        <button type="button" onclick="closeModelEdit()" class="bi bi-x-lg text-white ms-auto"
                                style=""></button>
                    </div>
                    <button>Add album</button>
                    <button>Add song</button>
                    <button>Add Post</button>
                </div>
            </div>
        </div>

    {% endif %}




    <div class="container artist-detail d-flex flex-column">

        <div class="text-white my-breadcrumb position-relative z-2 pt-5 mb-4">
            <a href="{% url 'home' %}">home</a>
            <span>/</span>
            <a href="{% url 'all_artists' %}">all artists</a>
            <span>/</span>
            <span class="active">{{ artist.nickname }}</span>
        </div>

        <div class="row d-flex flex-column position-relative">
            <div class="profile-img-wrapper align-items-md-center d-flex col-12 col-md-4 h-100 position-absolute z-1">
                <img src="{{ artist.user.profile_img.url }}" class="artist-profile-img mx-auto my-auto" alt="
                                                        profile picture">

            </div>
            <div class="artist-detail-info-wrapper col-12 col-md-10 ms-md-auto d-flex z-0 position-relative">
                <div class="col-12 mt-5 mt-md-0 px-2 col-md-8 col-lg-10 ms-md-auto artist-detail-info position-relative mh-100 py-3">
                    <h1 class="artist-nickname text-center my-2 mt-5">{{ artist.nickname|upper }}</h1>
                    <p class="">{{ artist.user.first_name }} {{ artist.user.last_name }}</p>
                    <p>Status</p>


                    {% if artist == request.user.artist %}
                        <div class="user-related-links justify-content-center justify-content-md-start d-flex gap-4 mt-4">
                            <button type="button" class="px-3 py-2 d-flex align-items-center rounded-3"
                                    id="modal_open_btn"
                                    onclick="openModal()">
                                <span class="d-none d-lg-block me-1">Followings</span><i class="bi bi-person-check"></i>
                            </button>

                            <a href="" class="px-3 py-2 d-flex align-items-center text-center rounded-3">
                                <span class="d-none d-lg-block me-1"> Playlists</span><i
                                    class="bi bi-music-note-list"></i>
                            </a>

                            <button onclick="openModalEdit()" id="modalEditBtn"
                                    class="settings-btn px-3 py-2 d-flex align-items-center text-center rounded-3">
                                <span class="d-none d-lg-block me-1">Create</span><i class="bi bi-plus-circle"></i>
                            </button>

                        </div>
                    {% endif %}

                    {% if request.user != artist.user %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'follow-artist' id=artist.id %}" class="artist-follow-btn
                        {% with request.user.followings_of_user.artists.all as query %}
                            {% if query %}
                                {% if query|is_inside_query:artist %}
                                    py-1 px-3 rounded-2 followed"
                               id="artist-follow-btn">
                                <span class="me-2" id="follow-text">
                                    Followed
                                    </span>
                                <i id="follow-icon" class="fw-bold bi bi-person-check"></i>
                            {% else %}
                                py-1 px-3 rounded-2"
                                id="artist-follow-btn">
                                <span class="me-2" id="follow-text">
                                Follow
                                <i id="follow-icon" class="fw-bold bi bi-person-add"></i>
                            {% endif %}
                            {% else %}
                                py-1 px-3 rounded-2"
                                id="artist-follow-btn">
                                <span class="me-2" id="follow-text">
                                Follow
                                <i id="follow-icon" class="fw-bold bi bi-person-add"></i>
                            {% endif %}
                            {% endwith %}
                            </a>
                        {% endif %}
                    {% endif %}


                </div>

            </div>
        </div>

        <div class="row mt-5 artist-discography">
            <div class="col-12">
                <h2 class="mb-4 mt-5">Discography</h2>

                <div class="my-tabs w-100 mb-3 d-flex flex-column">
                    <div class="tabs w-100 mb-3 mb-md-4 d-flex flex-column flex-md-row align-items-center">
                        <ul class="d-flex gap-2 mb-0 ps-0 align-items-center">
                            <li class="d-block px-4 py-2 rounded-5 text-white"><a href="#tab-one">Popular
                                <span>Releases</span></a>
                            </li>
                            <li class=" px-4 py-2 rounded-5 text-white"><a href="#tab-two">Albums</a></li>
                            <li class=" px-4 py-2 rounded-5 text-white"><a href="#tab-three">Singles</a></li>
                        </ul>
                        <a href="{% url 'all_albums' artist.user.id %}" class="ms-auto mt-3 mt-md-0 show-all">Show
                            all</a>
                    </div>

                    <div class="content w-100 d-flex" style="">
                        <section class="tab-content m-auto w-100 d-block" id="tab-one">

                            <div class="row d-flex overflow-y-hidden" style="height: 315px">
                                {% with artist.songs_by_artist.all as songs %}

                                    {% for song in songs|query_order:'liked_songs'|slice:':6' %}
                                        <div class="col-6 px-0 position-relative col-md-4 mx-md-0 col-lg-3 col-xl-2 mx-lg-0 mx-xl-4 mx-xxl-2 d-flex flex-column align-items-center">
                                            <div id="audio-player-{{ song.id }}" class="audio-player position-absolute">
                                                <audio id="audio-{{ song.id }}" class="d-none position-relative"
                                                       controls>
                                                    <source src="{{ song.file.url }}" type="audio/mp3">
                                                    Your browser does not support the audio tag.
                                                </audio>
                                                <div class="">
                                                    <label for="volume-control-{{ song.id }}" class="d-none text-start">Volume</label>
                                                    <input type="range" id="volume-control-{{ song.id }}"
                                                           class="w-100 volume-control">
                                                </div>

                                                <div>
                                                    <label for="seekslider-{{ song.id }}"
                                                           class="d-none text-start">Time</label>
                                                    <input id="seekslider-{{ song.id }}" type="range" min="0" max="100"
                                                           value="0"
                                                           step="1" class="time-control" disabled
                                                           onchange="seek({{ song.id }})">
                                                </div>

                                                <button onclick="playPause('{{ song.id }}')"
                                                        id="play-pause-button-{{ song.id }}"
                                                        class="p-0 play-pause-button bi bi-play-fill">
                                                </button>
                                            </div>


                                            <a href="{% url 'song_detail' id=song.id %}"
                                               class="release-wrapper d-flex flex-column align-items-center">
                                                <div class="song-card p-3 px-4 pb-4 rounded-3 ">
                                                    <img src="{{ song.cover.url }}" class="mb-4 rounded-3"
                                                         alt="{{ song.title }}-song cover">
                                                    <h5>{{ song.title|truncatechars:'15' }}</h5>
                                                    <span>{{ song.uploaded_at|date:'Y' }} - Single</span>
                                                    <br>
                                                    <span class="mt-1">{{ song.liked_songs.all|length_query }} pe{{ song.liked_songs.all|length_query|pluralize:"rson,ople" }} liked</span>
                                                </div>
                                            </a>
                                        </div>
                                    {% empty %}
                                        <h1 class="text-center  text-white">No realises so far</h1>
                                    {% endfor %}
                                {% endwith %}


                            </div>

                        </section>
                        <section class="tab-content m-auto w-100" id="tab-two">

                            <div class="row d-flex overflow-y-hidden" style="height: 315px">
                                {% for album in artist.albums_by_artist.all|slice:':6' %}
                                    <div class="col-6 px-0 col-md-4 mx-md-0 col-lg-3 col-xl-2 mx-lg-0 mx-xl-4 mx-xxl-2 d-flex flex-column align-items-center">
                                        <a href="{{ album.get_absolute_url }}"
                                           class="release-wrapper d-flex flex-column align-items-center">
                                            <div class="song-card p-3 px-4 pb-4 rounded-3">
                                                <img src="{{ album.cover.url }}"
                                                     class="mb-4 rounded-3" alt="album cover">
                                                <h5>{{ album.title|truncatechars:'15' }}</h5>
                                                <span>{{ album.uploaded_at|date:'Y' }} - Album</span>
                                                <br>
                                                <span class="mt-1">{{ album.liked_albums.all|length_query }} pe{{ album.liked_albums.all|length_query|pluralize:"rson,ople" }} liked</span>

                                            </div>
                                        </a>
                                    </div>
                                {% empty %}
                                    <h1 class="text-center text-white">No albums uploaded so far</h1>

                                {% endfor %}
                            </div>

                        </section>
                        <section class="tab-content m-auto w-100" id="tab-three">
                            <div class="overflow-y-hidden text-white row d-flex" style="height: 315px">
                                {% for song in artist.songs_by_artist.all|slice:':6' %}
                                    <div class="col-6 px-0 position-relative col-md-4 mx-md-0 col-lg-3 col-xl-2 mx-lg-0 mx-xl-4 mx-xxl-2 d-flex flex-column align-items-center">

                                        <div id="audio-player-{{ song.id }}" class="audio-player position-absolute">
                                            <audio id="audio-{{ song.id }}" class="d-none position-relative" controls>
                                                <source src="{{ song.file.url }}" type="audio/mp3">
                                                Your browser does not support the audio tag.
                                            </audio>
                                            <div class="">
                                                <label for="volume-control-{{ song.id }}" class="d-none text-start">Volume</label>
                                                <input type="range" id="volume-control-{{ song.id }}"
                                                       class="w-100 volume-control">
                                            </div>

                                            <div>
                                                <label for="seekslider-{{ song.id }}"
                                                       class="d-none text-start">Time</label>
                                                <input id="seekslider-{{ song.id }}" type="range" min="0" max="100"
                                                       value="0"
                                                       step="1" class="time-control" disabled
                                                       onchange="seek({{ song.id }})">
                                            </div>

                                            <button onclick="playPause('{{ song.id }}')"
                                                    id="play-pause-button-{{ song.id }}"
                                                    class="p-0 play-pause-button bi bi-play-fill">
                                            </button>
                                        </div>

                                        <a href="{% url 'song_detail' id=song.id %}"
                                           class="release-wrapper d-flex flex-column align-items-center">
                                            <div class="song-card p-3 px-4 pb-4 rounded-3">
                                                <img src="{{ song.cover.url }}"
                                                     class="mb-4 rounded-3" alt="song cover">
                                                <h5>{{ song.title|truncatechars:'15' }}</h5>
                                                <span>{{ song.uploaded_at|date:'Y' }} - Song</span>
                                                <br>
                                                <span class="mt-1">{{ song.liked_songs.all|length_query }} pe{{ song.liked_songs.all|length_query|pluralize:"rson,ople" }} liked</span>

                                            </div>
                                        </a>

                                    </div>
                                {% empty %}
                                    <h1 class="text-center text-white">No songs uploaded so far</h1>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    {#                    <a href="" class="mx-auto d-block mt-4 d-md-none">Show all</a>#}

                </div>
            </div>

        </div>

        <div class="row mt-5 posts_by_artist">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <h2 class="mb-4 mt-5 me-auto">Posts</h2>
                    <a href="{% url 'user_posts_list' id=artist.user.id %}" class="mt-auto mb-3 show-all">Show all</a>

                </div>
                <div class="row row-gap-3">
                    {% for post in artist.posts.all|slice:':6' %}
                        <a class="col-12 col-md-4 position-relative" href="{{ post.get_absolute_url }}">

                            <i class="editor-gem position-absolute bi bi-gem
                        {% if request.user.artist == post.artist %}
                            d-block
                        {% else %}
                            d-none
                        {% endif %}
                            "></i>
                            <div class="artist-post only py-2 px-3 mx-1 position-relative d-flex flex-column">
                                <span id="post_time_since" class="
                                {% if request.user.artist == post.artist %}
                                        ms-3
                                    {% else %}
                                        ms-0
                                    {% endif %}
                            ">{{ post.created_at|timesince }} ago</span>
                                <h2 class="mt-2 fs-5 text-white">{{ post.title|default:'untitled'|title|truncatechars:'18' }}</h2>
                            </div>

                        </a>
                    {% empty %}
                        <h2 class="text-white text-center">No posts so far</h2>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}