{% extends 'layouts/base.html' %}

{% block page_title %}
    Main
{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolores est iure maiores nam quas quibusdam
        rerum tenetur veniam? Animi aperiam at aut consequatur dolor et, exercitationem facere illo ipsam laboriosam
        libero maxime minus nam nesciunt non nostrum officia possimus provident quam quas quasi quibusdam reprehenderit
        sequi velit voluptatem! Amet consequuntur facere fugiat ipsa modi, praesentium quasi sunt velit? Ad consequatur
        eius mollitia nemo nostrum pariatur reiciendis sit. Aliquam blanditiis cum dicta ea earum et eveniet excepturi
        expedita fugiat id ipsa iusto minus, nostrum quia recusandae repellat, repellendus rerum sapiente sequi sunt
        suscipit unde veritatis voluptates. Commodi minus repellat sint!</p>
{% endblock %}