{% extends 'layouts/base.html' %}
{% block page_title %}
    Main
{% endblock %}
{% load static %}
{% load my_tags %}

{% block content %}
    <main>
        <div class="video-layer position-absolute z-2">

        </div>
        <video class="" autoplay muted loop id="myVideo">
            <source src="{% static 'main/img/kendrick.mp4' %}" type="video/mp4">
        </video>
        <div class="content">
            <button id="myBtnUnmute" class="bi bi-volume-mute-fill" onclick="unMute()"></button>
            <button id="myBtn" class=" bi bi-pause-fill" onclick="myFunction()"></button>
        </div>

    </main>
    <div class="container">
        <h1 class="articles-section-header mb-4 text-center mt-0">Top Artists</h1>
        <div class="row d-flex mb-3 all_artists overflow-y-hidden" style="height: 282px">
            {% for artist in artists %}
                <div class="col-12 col-sm-6 px-0 col-md-4 mx-md-0 col-lg-3 col-xl-2 mx-lg-0 mx-xl-4 mx-xxl-2 d-flex flex-column align-items-center">
                    <a href="{{ artist.get_absolute_url }}" class=" artist-card position-relative p-3 px-4 pb-4 rounded-3">
                        <i class="editor-gem position-absolute bi bi-gem
                            {% if request.user == artist.user %}
                                d-block
                            {% else %}
                                d-none
                            {% endif %}
                        " style="left: -5px">
                        </i>
                        <img class="artist-profile-img" src="{{ artist.user.profile_img.url }}" alt="">
                        <h3 class="mt-3">{{ artist.nickname }}</h3>
                        <span>Artist</span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex mt-5 mb-5">
            <a href="{% url 'all_artists' %}" class="mx-auto btn btn-primary go-back">See More <i
                    class="bi bi-arrow-right"></i></a>
        </div>


        <h1 class="articles-section-header x mb-4 text-center mb-3">Popular Albums</h1>
        <div class="row d-flex overflow-y-hidden" style="height: 315px">
            {% for album in albums|query_order:'liked_albums'|slice:':6' %}
                <div class="col-12 col-sm-6 px-0 col-md-4 mx-md-0 col-lg-3 col-xl-2 mx-lg-0 mx-xl-4 mx-xxl-2 d-flex flex-column align-items-center">

                    <a href="{{ album.get_absolute_url }}"
                       class="release-wrapper  d-flex flex-column align-items-center">

                        <div class="position-relative song-card p-3 px-4 pb-4 rounded-3">
                            <i class="editor-gem position-absolute bi bi-gem
                                {% if request.user.id == album.artist.user.id %}
                                    d-block
                                {% else %}
                                    d-none
                                {% endif %}
                            " style="left: -5px"></i>
                            <img src="{{ album.cover.url }}"
                                 class="mb-4 rounded-3" alt="album cover">
                            <h5>{{ album.title|truncatechars:'15' }}</h5>
                            <span>{{ album.uploaded_at|date:'Y' }} - Album</span>
                            <br>
                            <span class="mt-1">{{ album.liked_albums.all|length_query }} pe{{ album.liked_albums.all|length_query|pluralize:"rson,ople" }} liked</span>

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


        <h1 class="text-center mt-5 articles-section-header x">latest posts</h1>
        <div class="row artist-articles row-gap-2">
            {% for post in posts %}
                <div class="col-12 col-sm-6 col-lg-4 p-2 p-md-3 position-relative">
                    <i class="editor-gem position-absolute bi bi-gem
                        {% if request.user.artist == post.artist %}
                            d-block
                        {% else %}
                            d-none
                        {% endif %}
                    "></i>
                    <div class="artist-post only py-4 px-4 mx-1 position-relative d-flex flex-column">
                        <span class="fs-6">{{ post.created_at|timesince }} ago</span>
                        <h2 class="mt-2">{{ post.title|default:'untitled'|title|truncatechars:'18' }}</h2>
                        <span>by <a href="{{ post.artist.get_absolute_url }}"
                                    class="fw-bold ms-1">{{ post.artist.nickname }}</a></span>
                        <hr class="border-2 my-1 opacity-75">
                        <p class="h-auto overflow-hidden">{{ post.text|capfirst|safe|truncatechars:'130' }}</p>
                        <div class="post-options mt-auto mb-3">
                            <div class="d-flex justify-content-start">
                                <a href="{% url 'post_detail' id=post.id %}"
                                   class="btn btn-primary gap-1 d-flex w-auto">
                                    <span>Read More</span><i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 col-sm-6 col-lg-12 p-2 p-md-3 position-relative d-flex justify-content-start justify-content-sm-center align-items-center see-more-posts">
                <div class="py-4 px-4 mx-1 post-options">
                </div>

            </div>
        </div>
    </div>
{% endblock %}