{% extends 'layouts/base.html' %}

{% load my_tags %}
{% block page_title %}
    Album Detail
{% endblock %}

{% block content %}
    <div class="container song-detail d-flex flex-column align-items-center">
        <h1 class="text-white">{{ song.title }}</h1>

        <div id="audio-player-{{ song.id }}" class="audio-player my-3 position-absolute">
            <audio id="audio-{{ song.id }}" class="d-none position-relative"
                   controls>
                <source src="{{ song.file.url }}" type="audio/mp3">
                Your browser does not support the audio tag.
            </audio>
            <div class="">
                <label for="volume-control-{{ song.id }}" class="d-none text-white text-start">Volume</label>
                <input type="range" id="volume-control-{{ song.id }}"
                       class="w-100 volume-control">
            </div>

            <button onclick="playPause('{{ song.id }}')"
                    id="play-pause-button-{{ song.id }}"
                    class="p-0 play-pause-button bi bi-play-fill">
            </button>
        </div>


        <p class="my-container">
            {{ song.lyrics|default:'Not available' }}
        </p>
    </div>
{% endblock %}