{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block page_title %}
    Registration
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center px-3 px-sm-0">
            <div class="form-card post-options col-12 col-md-7 col-lg-5 py-3 px-4 rounded-4
                                            my-4 d-flex flex-column">
                <h2 class="mx-auto mb-3 mb-md-5 d-flex gap-2"><i class="bi bi-music-note-list me-2"></i><span>Registration</span>
                </h2>
                <form action="{% url 'user_registration' %}" method="post" enctype="multipart/form-data"
                      class="d-flex flex-column row-gap-1">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-6">{{ form.first_name|as_crispy_field }}</div>
                        <div class="col-12 col-lg-6">{{ form.last_name|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="id_username" class="form-label">{{ form.username.label }}<span
                                        class="asteriskField">*</span></label>
                                {{ form.username }}
                                <div id="emailHelp"
                                     class="form-text text-white">{{ form.username.help_text }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="mb-3">
                                <label for="id_email" class="form-label">{{ form.email.label }}<span
                                        class="asteriskField">*</span></label>
                                {{ form.email }}
                                <div id="emailHelp"
                                     class="form-text text-white">{{ form.email.help_text }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="mb-3">
                                <label for="id_profile_img" class="form-label">{{ form.profile_img.label }}</label>
                                {{ form.profile_img }}
                                <div id="emailHelp"
                                     class="form-text text-white">{{ form.profile_img.help_text }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12 col-lg-6">
                            <label for="id_password" class="form-label">{{ form.password.label }}<span
                                    class="asteriskField">*</span></label>
                            <div class="password-container position-relative">
                                {{ form.password }}
                                <i class="bi bi-eye-slash-fill toggle-password position-absolute" id="toggle-cp-id"></i>

                            </div>

                            <div id="passwordHelp"
                                 class="form-text text-white position-relative">
                                {{ form.password.help_text }}

                            </div>
                        </div>

                        <div class="col-12 col-lg-6 position-relative" id="confirm-wrapper">
                            <i class="bi bi-eye-slash-fill toggle-confirm-password position-absolute"></i>

                            {{ form.confirm_password|as_crispy_field }}

                        </div>
                        <div class="d-flex justify-content-center justify-content-lg-end">
                            <button type="submit" class="btn btn-primary go-back py-2 px-2">Register</button>
                        </div>
                </form>
            </div>
        </div>

    </div>


{% endblock %}