{% extends 'layouts/base.html' %}

{% block page_title %}
    My Posts
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="container">
                <h1 class="text-center articles-section-header">Artists posts</h1>
                <div class="row artist-articles row-gap-2">
                    {% for post in posts %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2 p-md-3 position-relative">
                            <i class="editor-gem position-absolute bi bi-gem
                                    {% if request.user.artist == post.artist %}
                                    	d-block
                                    {% else %}
                                        d-none
                                    {% endif %}
                                "></i>
                            <div class="artist-post only py-4 px-4 mx-1 position-relative d-flex flex-column">
                                <h2>{{ post.title|default:'untitled'|title|truncatechars:'18' }}</h2>
                                <span class="fs-6 my-1">{{ post.created_at|date:'F j, Y' }}</span>
                                <span>by {{ post.artist.nickname|default:'Unknown' }}</span>
                                <hr class="border-2 my-1 opacity-75">
                                <p class="h-auto overflow-hidden">{{ post.text|capfirst|safe|truncatechars:'130' }}</p>
                                <div class="post-options mt-auto mb-3">
                                    <div class="d-flex justify-content-start">
                                        <a href="{% url 'post_detail' id=post.id %}"
                                           class="btn btn-primary gap-1 d-flex w-auto">
                                            <span>Read More</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}