{% extends 'layouts/base.html' %}

{% block page_title %}
    My Posts
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="container">
                <h1 class="text-center articles-section-header">Artists posts</h1>
                <div class="row artist-articles row-gap-2">
                    {% for post in posts %}
                        <div class="col-12 col-sm-6 col-lg-4 p-2 p-md-3 position-relative">
                            <i class="editor-gem position-absolute bi bi-gem
                                    {% if request.user.artist == post.artist %}
                                    	d-block
                                    {% else %}
                                        d-none
                                    {% endif %}
                                "></i>
                            <div class="artist-post py-4 px-4 mx-1 position-relative">
                                <h2>{{ post.title|default:'untitled'|title|truncatechars:'18' }}</h2>
                                <span>by {{ post.artist.nickname }}</span>
                                <hr class="border-2 my-1 opacity-75">
                                <p class="h-auto overflow-hidden">{{ post.text|title|truncatechars:'130' }}</p>
                                <a href="" class="btn btn-primary position-absolute bottom-0 mb-4 mt-1 d-flex gap-1">
                                    <span>Read More</span><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
{% endblock %}